body
{
  display: flex;
  justify-content: space-evenly;
}
.card-with-img
{
  width: 300px;
  height: 400px;
}
.card-with-img img
{
  
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.card-with-bg
{
  width: 300px;
  height: 400px;
  background-image: url(../images/PageBG/LPBG4.jpg);
  background-size: cover;
  background-position: center;
}